<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Egret</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        html, body {
            -ms-touch-action: none;
            background: #888888;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>


    <script src="libs/egret/egret.js" src-release="libs/egret/egret.min.js"></script>

    <script src="libs/egret/egret.web.js" src-release="libs/egret/egret.web.min.js"></script>

    <script src="libs/game/game.js" src-release="libs/game/game.min.js"></script>

    <script src="libs/game/game.web.js" src-release="libs/game/game.web.min.js"></script>

    <script src="libs/dragonBones/dragonBones.js" src-release="libs/dragonBones/dragonBones.min.js"></script>

    <script src="libs/socket/socket.js" src-release="libs/socket/socket.min.js"></script>

    <script src="libs/tween/tween.js" src-release="libs/tween/tween.min.js"></script>

    <script src="libs/res/res.js" src-release="libs/res/res.min.js"></script>


    <!--这个标签会被替换为项目中所有的 javascript 文件-->
    <!--{{~it.scripts :value:index}}-->
    <script src="{{=value}}"></script>
    <!--{{~}}-->
</head>
<body>
  <script>var document_class = "Main";</script>

  <select id="examples_menu" style="width:200px;font-size:24px;" onchange="onSelectChange(this.value)"></select>
  <div id="egret-sample" style="margin: auto;width: 100%;height: 100%;" class="egret-player"
       data-entry-class="ResourceExample"
       data-orientation="auto"
       data-scale-mode="noScale"
       data-resolution-mode="retina"
       data-frame-rate="60"
       data-content-width="480"
       data-content-height="800"
       data-show-paint-rect="true"
       data-multi-fingered="2"
       data-show-fps="false" data-show-log="false"
       data-log-filter="" data-log-color="#b0b0b0">
  </div>

  <script>
          var list = [

              //external
              "ExternalInterface",
              //localStorage
              "localStorage",
              //display
              "Bitmap",
              "BitmapFillMode",
              "BlendMode",
              "DisplayObject",
              "DisplayObjectContainer",
              "Graphics",
              "RenderTexture",
              "Shape",
              "Sprite",
              "SpriteSheet",
              "Stage",
              "Texture",
              //player
              "StageScaleMode",
              //events
              "Event",
              "EventDispatcher",
              "EventPhase",
              "IEventDispatcher",
              "IOErrorEvent",
              "TextEvent",
              "TimerEvent",
              //geom
              "Matrix",
              "Point",
              "Rectangle",
              //media
              "Sound",
              "Video",
              //text
              "BitmapFont",
              "BitmapText",
              "HtmlTextParser",
              "TextField",

              //utils
              "ByteArray",
              "callLater",
              "getDefinitionByName",
              "getOptionName",
              "getQualifiedClassName",
              "getQualifiedSuperClassName",
              "getTimer",
              "hasDefinition",
              "is",
              "numberUtils",
              "Timer",
              "toColorString",
              "XML",
              //extension
              //Dragonbones
              "Dragonbones",
              //game-display
              "MovieClip",
              "ScrollView",
              //game-net
              "URLLoader",
              "URLLoaderDataFormat",
              "URLRequest",
              "URLRequestHeader",
              "URLRequestMethod",
              "URLVariables",
              //game-player
              "Ticker",
              //game-tuils
              "Recycler",
              "setInterval",
              "setTimeout",
              //resource
              "Resource",
              "GetResByUrl",
              //socket
              "WebSocket",
              //tween
              "Tween",
            ];
            var menu = document.getElementById("examples_menu");
            list.forEach(function (item) {
              var option = document.createElement("option");
              option.setAttribute("id", item);
              option.setAttribute("value", item);
              option.innerText = item;
              menu.appendChild(option);
            });
            function onSelectChange(value) {
                var url = location.href;
                var index = url.indexOf("?");
                if (index != -1) {
                    url = url.slice(0, index);
                }
                if (url.indexOf(".html") == -1) {
                    url += "index.html";
                }
                url += "?test=" + value;
                location.href = url;
            }
            function getCurrentTest() {
                var appFile;
                var hasTest = false;
                var str = location.search;
                str = str.slice(1, str.length);
                var totalArray = str.split("&");
                for (var i = 0; i < totalArray.length; i++) {
                    var itemArray = totalArray[i].split("=");
                    if (itemArray.length == 2) {
                        var key = itemArray[0];
                        var value = itemArray[1];
                        if (key == "test") {
                            appFile = value;
                            hasTest = true;
                            break;
                        }
                    }
                }
                if (!hasTest) {
                    appFile = list[0];
                }

                return appFile;
            }
            document_class = getCurrentTest();
            menu.value = document_class;
            document_class += "Example";
  </script>

    <script>
        var stage = document.getElementById("egret-sample");
        console.log(document_class)
        stage.setAttribute("data-entry-class",document_class);
        //stage.setAttribute("data-entry-class","Video");
        //stage.setAttribute("data-entry-class","MyTest");
        egret.runEgret();
    </script>
</body>
</html>
